:root {
  --iris-color: #4d5ae5;
  --ocean-color: #404bbf;
  --navyblue-color: #2e2f42;
  --green-color: #31ddaa;
  --slate-color: #434455;
  --lightslate-color: #8e8f99;
  --cornflower-color: #e7e9fc;
  --cloud-color: #f4f4fd;
  --grey-color: #2e2f42;
  --white-color: #ffff;
  --dairy-color: #fcfcfc;
}
* {
  margin: 0;
}

body {
  background-color: var(--white-color);
}

header {
  background-color: var(--white-color);
}

.logo {
  font-size: 18px;
  font-family: "Raleway";
  font-weight: 700;
  line-height: 1.7;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #4d5ae5;
}

.studio {
  font-size: 18px;
  font-family: "Raleway";
  font-weight: 700;
  color: #2e2f42;
  line-height: 1.7;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.menu-nav {
  list-style: none;
}

.menu-nav li a {
  color: #2e2f42;
  text-decoration: none;
  font-weight: 700;
}

.first-title {
  background-color: var(--navyblue-color);
  text-align: center;
  font-size: 18px;
  font-family: "Raleway";
  line-height: 1.7;
  letter-spacing: 1px;
}

.title1 {
  color: var(--white-color);
}

.button {
  color: #ffff;
  background-color: #4d5ae5;
  border-radius: 3px;
}

.button:hover {
  background-color: var(--ocean-color);
}

.section-1 {
  line-height: 1.9;
}

.section-1 h3 {
font-family: "Raleway";
}

.section-2 {
  background-color: var(--cloud-color);
}

.section-2 h2 {
  text-align: center;
  font-size: 30px;
  font-family: "Raleway";
}